.vehicleStyle img{

    width:75%;
    margin-top: 10px;
    padding:10px;
    margin-left:15px;
    height:50%;


}
.vehicleStyle{

    border:1px solid black;
    width:230px;
    height: 230px;
    
    margin-top:150px;
    margin-left: 45px;
    box-shadow: 3px 2px gray;
    background-color: rgb(196, 241, 241);
    
    
    
    /* justify-content:flex-end; */
}
.vehicleStyle h1{

    margin-top:30px;
    margin-left: 50px;
}