.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.uniqueStyle {

  background-image: url("https://previews.123rf.com/images/nataliia2910/nataliia29101805/nataliia2910180500112/101854233-vector-illustration-of-road-cross-with-cars-in-the-big-modern-city-street-with-traffic-lights-in-fla.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 630px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.uniqueStyle h2{

  font-size:55px;
  color:rgb(59, 59, 112);
}
.uniqueStyle p{

  font-size:40px;
  color:rgb(77, 49, 104);
}